.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Cambiado de 100vw a 100% */
  background-color: #1a202c;
  color: white;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  z-index: 10;
  box-sizing: border-box; /* Añadido */
  overflow-x: hidden;     /* Añadido */
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
}


.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.2s;
}

.navbar-link:hover {
  color: #facc15;
  transform: scale(1.1);
}
