.principal-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background: url("./bgimage5.png") no-repeat center center/cover;
  color: white;
  overflow: hidden;
}

@keyframes dotsAnimation {
  0% { content: ""; }
  33% { content: "."; }
  66% { content: ".."; }
  100% { content: "..."; }
}
  
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
  
.content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .subtitle {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .info {
    text-align: left;
    max-width: 600px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .text-highlight-orange {
    color: orange;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .description {
    font-size: 1rem;
    color: lightgray;
  }
  
  .waiting {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espacio entre la frase y los puntos */
  }

  